<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.210827083189-fql89167uen2okrdhig3qd3qj0ft1ssi</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Bondfyr needs access to your camera to take photos for events and contests.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Bondfyr needs access to your photo library to save and share photos from events.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Bondfyr may need access to your microphone when capturing video.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Bondfyr needs calendar access to add events to your calendar and check for scheduling conflicts.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
