<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.210827083189-fql89167uen2okrdhig3qd3qj0ft1ssi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.arjunvarma.bondfyr</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bondfyr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>snapchat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bondfyr</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>snapchat</string>
		<string>instagram</string>
		<string>venmo</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show parties and events near you, and to help hosts see nearby guests.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Select photos to upload as party cover images and share memories from events.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to let you take photos for party cover images and photo contests.</string>
	<key>CFBundleDisplayName</key>
	<string>Bondfyr</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<false/>
	<key>DODO_API_KEY</key>
	<string>WwodcwFpKfwwrjg5.Or4_3_Zl8Sv3APNRllVNh35fUlyzxZYBV1nrE7W3Xzmfmo</string>
	<key>DODO_PUBLISHABLE_KEY</key>
	<string>pk_snd_00d98d270105488582b957a0c911dc79</string>
	<key>DODO_WEBHOOK_SECRET</key>
	<string>whsec_xKI9UUl00JcHyVasRJRuMKT0</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
